
<div class="center-block col-md-10">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Cliente</th>
                <th>Tipo Cliente</th>
                <th>Documento</th>
                <th>Email</th>
                <th>Fec. Creacion</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="client in clients">
                <td>{{client.Id}}</td>
                <td>{{client.Name}}</td>
                <td>{{client.ClientType.Name}}</td>
                <td>{{client.Email}}</td>
                <td>{{client.CreateDate}}</td>
            </tr>          
        </tbody>
    </table>
</div>